##### VARIABLES #####
	PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/skilbjo/.local/bin:/home/skilbjo/bin
	MAILTO=jskilbeck@yapstone.com
	APP="/home/skilbjo/python/app/etl"
	ANALYTICS=$APP"/sql/Analytics/"
	MMF=$APP"/sql/Analytics/"
	TOPDATA=$APP"/sql/TopData/"


##### Monthly #####
	## TopData
		0 20 5 * * skilbjo cd $APP"/Analytics" ; python etl.py -S crostoli  >/dev/null

	## Analytics
		0 20 10 * * skilbjo cd $APP"/TopData" ; node top_data.js >/dev/null		

	## MPR
		# can you do this with a subshell?
		0 16 10 * * skilbjo cd $APP"/MPR" ; node mpr_base.js >/dev/null	
		0 20 10 * * skilbjo cd $APP"/MPR" ; node mpr.js >/dev/null

	## MMF
		17 15 5 * * skilbjo cd $APP ; python etl.py -e crostoli -e $TOPDATAmmf.py -l $TOPDATAload_mmf.py >/dev/null