##### VARIABLES #####
	#PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/skilbjo/.local/bin:/home/skilbjo/bin
	PATH=/home/skilbjo/.virtualenvs/etl/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/skilbjo/.local/bin:/home/skilbjo/bin
	SHELL=/bin/bash
	MAILTO=jskilbeck@yapstone.com
	APP="/home/skilbjo/python/app/etl"
	ANALYTICS=$APP"/sql/Analytics/"
	MMF=$APP"/sql/Analytics/"
	MPR=$APP"/sql/MPR/"	
	TOPDATA=$APP"/sql/TopData/"


##### Monthly #####
	## Analytics
		17 16 5 * * root 	/home/skilbjo/.virtualenvs/etl/bin/activate ; cd $APP ; workon etl ; python etl.py -s crostoli -e $ANALYTICSanalytics.sql -l $ANALYTICSload_analytics.sql >/dev/null

	## TopData
		58 15 5 * * skilbjo /home/skilbjo/.virtualenvs/etl/bin/activate ; cd $APP ; workon etl ; python etl.py -s crostoli -e $TOPDATAtop_data.sql -l $TOPDATAload_top_data.sql >/dev/null

	## MPR
		28 15 5 * * skilbjo /home/skilbjo/.virtualenvs/etl/bin/activate ; cd $APP ; workon etl ; python etl.py -s crostoli -e $MPRmpr.sql -l $MPRload_mpr.sql >/dev/null

	## MMF
		28 15 5 * * skilbjo cd $APP ; workon etl ; python etl.py -s crostoli -e $MMFmmf.sql -l $MMFload_mmf.sql >/dev/null

